<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="AnVeS - Kunden suchen">
    <link rel="stylesheet" type="text/css" href="lib/bootstrap-v4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="lib/fontawesome-free-v5.5.0-web/css/solid.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<header>
    <div>
        <h1>AnVeS</h1>
    </div>
</header>
<nav>
    <div class="innerNav">
        <ol class="breadcrumb dark-bg">
            <li class="breadcrumb-item active">Anhänger suchen</li>
            <li class="breadcrumb-item">Verfügbare Anhänger</li>
            <li class="breadcrumb-item">Tarif wählen</li>
            <li class="breadcrumb-item active">Kunden suchen</li>
            <li class="breadcrumb-item">Kunde auswählen</li>
            <li class="breadcrumb-item">Kunde anlegen</li>
        </ol>
    </div>
</nav>

<section class="container-fluid col-sm-9">
<form action="#" method="post" th:action="@{/KundeAuswaehlen}" th:object="${kunde}">
    <div class="form-group row">
        <label for="kundennummer" class="col-sm-2 col-form-label">Kundennummer</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="kundennummer" th:field="*{id}">
        </div>
    </div>
    <div class="form-group row">
        <label for="nachname" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="nachname" th:field="*{nachname}">
        </div>
    </div>
    <div class="form-group row">
        <label for="vorname" class="col-sm-2 col-form-label">Vorname</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="vorname" th:field="*{vorname}">
        </div>
    </div>
    <div class="form-group row">
        <label for="geburtsdatum" class="col-sm-2 col-form-label">Geburtsdatum</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="geburtsdatum" th:field="*{geburtsdatum}">
        </div>
    </div>
    <div class="form-group row bottom">
        <div class="col-sm-6">
            <button type="submit" class="btn btn-primary btn-block">Kunde suchen</button>
        </div>
        <div class="col-sm-6">
            <button type="reset" class="btn btn-danger btn-block">Zurücksetzen</button>
        </div>
    </div>
</form>
</section>

    <script type="text/JavaScript" src="./KundenSuchen.js"></script>
<footer>
</footer>
</body>
</html>